.show
  .show__messages
    .show__messages__message
      -@posts.each do |post|
        .show__messages__message__namebox{"data-post-id": "#{post.id}"}
          .show__messages__message__namebox__number
            = post.id
          .show__messages__message__namebox__name
            ="#{post.user.nickname}："
          .show__messages__message__namebox__time
            = post.created_at
          

          - if user_signed_in? && current_user.id == post.user_id
            %span.js-edit-comment-button{"data-comment-id": "#{post.id}",id:"authenticity_token"}  
              %i.fas.fa-edit.text-primary
            =link_to  product_path(post.id),method: :delete do
              %i.fas.fa-trash-alt
        .show__messages__message--comment{id:"hogehoge-#{post.id}"}
          = post.post
        %div{class: "show__messages__message__editbox",id: "js-comment-#{post.id}"}
          %p{id: "js-comment-label-#{post.id},post.body"}
          %p.text-danger{id: "js-comment-post-error-#{post.id}"}
          %textarea{class:"form-control.comment-post-error-post.body",id: "js-textarea-comment-#{post.id}", style: "display: none;"}
        %div{class:"edit__btnbox",id:"js-comment-button-#{post.id}",style: "display: none;"}
          %button.btn.btn-light.comment-cancel-button{"data-cancel-id": "#{post.id}"}キャンセル
          %button.btn.btn-right.comment-update-button{"data-update-id": "#{post.id}"}更新する

        .show__messages__message__image
          - if post.image?
            = image_tag post.image.url, :size =>'410x300'