.index_main
  .top_title トレーニングROOM
  =render 'header'
  .note　ご自身のトレーニング期間に応じてリンク先に飛んでください。次に移るのが厳しいなと思うときは慣れるまでそのメニューで大丈夫です。
  .1week 
    = link_to "1週間目のトレーニングメニューへ",week_one_products_path
  .2week
    = link_to "2週間目のトレーニングメニューへ","#" 
  .3week
    = link_to "3週間目のトレーニングメニューへ","#" 
  .4week
    = link_to "4週間目のトレーニングメニューへ","#" 
  .1month
    = link_to "1ヶ月目〜のトレーニングメニューへ","#" 
  .2month
    = link_to "2ヶ月目〜のトレーニングメニューへ","#" 